body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 250px;
    height: auto;
    padding: 20px;
    border: 1px solid black;

    table { 
        padding: 0;
        margin: 0;
    }

    h2 {
        margin-top: 0;
        font-weight: lighter;
        width: fit-content;
    }

    label {
        font-weight: bold;
        font-size: 0.75rem;
        margin-bottom: 3px;
    }

    input, textarea {
        border: 2px solid #EBEBEB;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        margin: 3px 0 10px;
        padding: 5px 10px;

        &::placeholder {
            color: #BEC1BC;
            font-weight: bold;
        }

        &:focus {
            outline: none;
            border-color: lightgray;
        }
    }

    button {
        background-color: #337ab7;
        color: #F5F5F5;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #277dc9;
    }
}