.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'header img'
    'nav img';
    margin-bottom: 20px;

    h2 {
        width: 100% !important;
        border-bottom: 1px solid #eeeeee;
        display: block;
        grid-area: header;
        width: fit-content;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px #cccccc;
        font-weight: 100;
        padding-bottom: 20px;
        margin-bottom: 0;

        small {
            font-weight: 400;
            font-size: 1rem;
            color: #cccccc;
        }
    }

    img {
        grid-area: img;
        height: 120px;
        margin-left: 50px;
    }

    nav {
        grid-area: nav;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #eeeeee;
        padding: 0 30px;
    
        ul {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding: 0;
    
            li {
                list-style: none;
    
                a {
                    text-decoration: none;
                    color:#337ab7;
    
                    &:hover {
                        color: blue;
                    }
                }
            }
        }
    }
}

.left {
    grid-area: left-col;
    
    h2 {
        margin: 0 0 10px;
        font-weight: 100;
    }

    .news-card {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto 1fr;
        width: 100%;
        box-sizing: border-box;
        column-gap: 10px;
        margin-bottom: 20px;
        
        h2 { 
            grid-column: 1 / span 2; 
            margin: 10px 0 5px;
        }

        h1 { font-size: 0.9rem; }
        p { font-size: 0.8rem; }

        .img-col {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;

            .date-label {
                width: fit-content;
                display: block;
                margin-bottom: 10px;
                background-color: #F9F2F4;
                padding: 2px 5px;
                color: #D15781;
                font-size: 0.7rem;
            }
    
            .img-container {
                background-color: white;
                padding: 5px;
                height: 90px;
                border-radius: 5px;
                border: 1px solid #dfdfdf;
        
                img {
                    height: 90px;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                }
            }
        }

        &.latest {
            background-color: #F5F5F5;
            padding: 15px;
            border-radius: 5px;
            border: 1px solid #dfdfdf;
        }
    }
}

.spacer { grid-area: spacer; }

.right {
    grid-area: right-col;

    .info-card {
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid #dfdfdf;

        .info-card-header {
            background-color: #F5F5F5;
            padding: 15px;
            border-bottom: 1px solid #dfdfdf;
        }

        .info-card-body {
            padding: 15px;
            font-size: 0.8rem;

            &.weather {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .temp {
                    color: #337ab7;
                    font-weight: bold;
                    font-size: 60px;
                }
            }
        }
    }
}

.add-news-popup-backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #337ab7;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 1000;
    pointer-events: all;
}

.add-news-popup {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: white;
    width: 250px;
    border: 1px solid black;
    pointer-events: all;

    h2 {
        margin-top: 0;
        font-weight: lighter;
        width: fit-content;
    }

    label {
        font-weight: bold;
        font-size: 0.75rem;
        margin-bottom: 3px;
    }

    input, textarea {
        border: 2px solid #EBEBEB;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
        padding: 5px 10px;

        &::placeholder {
            color: #BEC1BC;
            font-weight: bold;
        }

        &:focus {
            outline: none;
            border-color: lightgray;
        }
    }

    textarea {
        height: 100px;
        resize: none;
    }

    input[type="file"] {
        padding: 0;
        width: 90%;
        background-color: #E6E6E6;
        position: relative;
        border-radius: 0;
        height: 20px;
        border: 2px solid #DEDEDE;

        &::file-selector-button {
            position: absolute;
            transform: translate(2px, -2px);
            top: 0;
            right: 0;
            height: 20px;
            border-radius: 0;
            outline: none;
            border: 2px solid #D2D2D2;
            margin: 0;
            background-color: #E6E6E6 ;
        }
    }

    button {
        background-color: #337ab7;
        color: #F5F5F5;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #277dc9;
    }
}