.left {
    h2 {
        margin: 0 0 10px;
        font-weight: 100;
    }

    .news-card {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto 1fr;
        width: 100%;
        box-sizing: border-box;
        column-gap: 10px;
        margin-bottom: 20px;
        
        h2 { 
            grid-column: 1 / span 2; 
            margin: 10px 0 5px;
        }

        h1 { font-size: 0.9rem; }
        p { font-size: 0.8rem; }

        .img-col {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;

            .date-label {
                width: fit-content;
                display: block;
                margin-bottom: 10px;
                background-color: #F9F2F4;
                padding: 2px 5px;
                color: #D15781;
                font-size: 0.7rem;
            }
    
            .img-container {
                background-color: white;
                padding: 5px;
                height: 90px;
                border-radius: 5px;
                border: 1px solid #dfdfdf;
        
                img {
                    height: 90px;
                    aspect-ratio: 16/9;
                    object-fit: cover;
                }
            }
        }

        &.latest {
            background-color: #F5F5F5;
            padding: 15px;
            border-radius: 5px;
            border: 1px solid #dfdfdf;
        }
    }
}