* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-layout {
    display: grid;
    grid-template-columns: 8fr 1fr 3fr ; 
    grid-template-rows: auto 1fr ;
    grid-template-areas: 
    'header header header'
    'left-col spacer right-col';

    padding: 10px 100px 30px ;
    margin: 0;
    position: relative;
}

.hidden {
    display: none !important;
    pointer-events: none !important;
}

.left {
    grid-area: left-col;
}



